<p id="notice"><%= notice %></p>

<h1>Teams</h1>

<table>
  <thead>
    <tr>
      <th>チーム名</th>
      <th>アイコン</th>
    </tr>
  </thead>
  <tbody>
    <% @jp.each do |arr| %>
      <tr>
        <td><%= "name: #{arr['name']}" %></td>
        <td><%= image_tag "#{arr['image_url']}", :size =>'410x300' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
