<div class='side_bar col-md-2'>

  <div class="hidden_box">
      <label for="label1">クリックして表示</label>
      <input type="checkbox" id="label1"/>
      <div class="hidden_show">
        <!--非表示ここから-->     
          <% @player_array.each do |arr| %>
            <%= "チーム名: #{arr['name']}" %>
            <br>
          <% end %>
        <!--ここまで-->
      </div>
  </div>

  <div class="hidden_box">
    <label for="label2">クリックして表示</label>
    <input type="checkbox" id="label2"/>
    <div class="hidden_show">
      <!--非表示ここから-->     
        <p><img src="face.png"></p>
      <!--ここまで-->
    </div>
</div>
</div>